name: RC Alignment Demo

on:
  push:
    branches:
      - next
      - master

concurrency:
  group: smart-release-please-${{ github.ref }}
  cancel-in-progress: false  # false to queue, not cancel

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Run Smart Release Please
        uses: MapColonies/shared-workflows/actions/smart-release-please@smart-release-please-v1
        with:
          token: ${{ secrets.GH_PAT }}
